:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  text-align: center;
}

h1 {
  padding-top: 1rem;
}

.calculator {
  background-color: hsl(0, 0%, 10%);
  align-items: center;
  margin: auto;
  max-width: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'display display display display'
    'AC AC AC divide'
    'seven eight nine times'
    'four five six minus'
    'one two three plus'
    'zero zero dot equals';
}

.display {
  font-size: 1.5rem;
  margin: 1rem;
  align-self: stretch;
  justify-self: right;
  color: white;
  height: 1rem;
  text-align: right;
  grid-area: display;
}

button {
  font-size: 1rem;
  color: white;
  background-color: hsl(0, 0%, 40%);
  font-weight: bold;
  border: black thin solid;
  height: 3rem;
}

.AC {
  background-color: hsl(0, 0%, 20%);
  color: white;
  text-align: left;
  padding-left: 1rem;
  grid-area: AC;
}

.divide {
  grid-area: divide;
  background-color: orange;
}

.zero {
  grid-area: zero;
}

.times {
  background-color: orange;
}

.minus {
  background-color: orange;
}

.plus {
  background-color: orange;
}

.equals {
  background-color: orange;
}
